<div class="subpage-block {{ this.classes }}">
  {% set page = record.children.get(this.for_underside) if this.for_underside else record %}
  {% if this.description %}
    {{ this.description }}
  {% elif this.for_underside %}
    <h1>{{ page.tittel }}</h1>
    {{ page.oversikt_ingress or page.ingress }}
  {% endif %}
  {% set children = page.children.filter(F.oversikt_skjult != True) %}
  <ul>
    {% for subpage in children.limit(this.maks or 10000) %}
      <li><a href="{{ subpage|url }}">{{ subpage.tittel }}</a>
    {% endfor %}
  </ul>
  {% if this.maks and children.count() > this.maks %}
  <p><a href="{{ page|url }}">Sjå alle undersider</a>.
  {% endif %}
</div>
