{% extends "page.html" %}
{% from "macros/blog.html" import render_blog_post %}
{#% from "macros/pagination.html" import render_pagination %#}
{% block tittel %}{{ this.tittel }}{% endblock %}
{% block content %}
  <article class="main-article box">
    {{ this.tekst }}
    {% for child in this.children %}
      {#{ render_blog_post(child, from_index=true) }#}
      <a href={{ child|url }}>
        <h1>{{ child.tittel }}</h1>
      </a>
      {% if child.publiseringsdato %}
        <div class=publiseringsdato>{{ child.publiseringsdato }}</div>
      {% endif %}
      {% if child.avsendar %}
        <div class=avsendar>({{ child.avsendar }})</div>
      {% endif %}
      {{ child.oversikt_ingress }}
    {% endfor %}
  </article>

  {#{ render_pagination(this.pagination) }#}
{% endblock %}
