{% extends "layout.html" %}
{% block tittel %}{{ this.tittel }}{% endblock %}
{% block body %}
  {{ this.tekst }}

  {#
  <section class=content>
    {% block content %}
      <article class="main-article box">
        {{ this.tekst }}
      </article>
    {% endblock %}
  </section>
  #}

  <section class=content>
  <!-- KVA MEINER ME -->
  <div class="box kva-meiner-me vmargin hpad">
    <a href=#kvameinerme>
    <h1>Kva meiner me?</h1>
    <div class=group>
      <div class="col span_1_of_3">
        <h2>Språk i skulen</h2>
        <p>Me arbeider for å betre undervisninga i nynorsk både som
        hovudmål og sidemål.
      </div>
      <div class="col span_1_of_3">
        <h2>Nynorsk i media</h2>
        <p>Nynorsk er forbode i mange riksdekkjande medie. Dette kjem
        ingen til gode.
      </div>
      <div class="col span_1_of_3">
        <h2>Språklege rettar</h2>
        <p>Me må ha eit lovverk som står stør opp om det språklege
        mangfaldet.
      </div>
    </div>
    </a>
  </div>

  <!-- KVA GJER ME -->
  <div class="box kva-gjer-me vmargin hpad">
    <a href=#kvagjerme>
    <h1>Kva gjer me?</h1>
    <div class=group>
      <div class="col span_1_of_3">
        <h2>Målferd</h2>
        <p>Kvart år vitjar me over 60 skular og held føredrag om
        nynorsk, norsk målsoge og haldningar til språk.
      </div>
      <div class="col span_1_of_3">
        <h2>Påverknad</h2>
        <p>Me arbeider tett med politiske organisasjonar og
        styringsorgan slik at dei fattar fornuftige vedtak om språk.
      </div>
      <div class="col span_1_of_3">
        <h2>Organisasjon</h2>
        <p>Me er over 1200 medlemar og har lokallag over heile landet.
        Alle skal få bidra, læra noko og ha det
        moro.
      </div>
    </div>
    </a>
  </div>
{% endblock %}
