<!doctype html>
<meta charset=utf-8>
<title>{% block full_title %}{% block title %}Velkomen{% endblock %} — Norsk Målungdom{% endblock %}</title>
<!-- Responsive and mobile friendly stuff -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.png">
<link type=text/css rel=stylesheet href="{{ '/static/style.css'|asseturl }}">
<script src="{{ '/static/script.js'|asseturl }}" async></script>

<div class="wrapper front-page">
  <div class=top-section>
    <header class=main-title>
      <h1><a href=/>Norsk Målungdom</a></h1>
      <!--div class=tag-line><p>Me arbeider for å fremja nynorsk, dialektbruk og språkleg mangfald på alle samfunnsområde</div-->
    </header>
    <nav class=main-nav>
      <label class=nav-button for=menu-checkbox>☰<span>Meny</span></label>
      <input type=checkbox id=menu-checkbox>
      <div class=items>
        <ul class=main>
          {% for href, title in [
            ['/organisasjon', 'Om NMU'],
            ['/nynorsk', 'Nynorsk'],
            ['/politikk', 'Politikk'],
			['/organisasjon/motmaele', 'Motmæle'],
			['/krambua', 'Krambua'],
			['/2018/sumarleir', 'Sumarleir'],
          ] %}
            <li{% if this.is_child_of(href) %} class=active{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
        <ul class=extra>
          {% for href, title in [
            ['/kontakt', 'Kontakt og presse'],
            ['/engasjer-deg', 'Engasjer deg'],
          ] %}
            <li{% if this.is_child_of(href) %} class=active{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>

  <main>
    {% block body %}{% endblock %}
  </main>

  <footer class=kolofon>
    <div class=aktivist>
        <h2>Aktivist</h2>
        <ul>
            <li><a href=/>Meld deg inn</a>
            <li><a href=/organisasjon/skrivarstova/>Meld flytting</a>
            <li><a href=/klag/>Klageportalen</a>
        </ul>
    </div>
    <div class=lokallag>
        <h2>Lokallag</h2>
        <ul>
            <li><a href=/organisasjon/lokallag/#liste>Lokallaga våre</a>
            <li><a href=/organisasjon/lokallag/#skiping>Korleis skipe lokallag?</a>
            <li><a href=/organisasjon/lokallag/#ressursar>Lokallagsressursar</a>
        </ul>
    </div>
	 <div class=personvern>
        <h2>Personvern</h2>
        <ul>
            <li><a href=/organisasjon/skrivarstova/>Meld flytting</a>
        </ul>
    </div>
    <!--
    <div class=nmu>
        <h2>Norsk Målungdom</h2>
        <ul>
            <li><a href=/organisasjon/norsk-malungdom/>Om Norsk Målungdom</a>
            <li><a href=/nynorsk/>Nynorsk</a>
            <li><a href=/nynorsk/sidemal/>Sidemål</a>
        </ul>
    </div>
    -->
  </footer>
  <footer class=kontakt>
    Postadresse: Norsk Målungdom, Postboks 285 Sentrum, 0103 Oslo
      | Vitjingsadresse: Lilletorget 1, 0184 Oslo<br>
    E-post: <strong><a href=mailto:skriv@nynorsk.no>skriv@nynorsk.no</a></strong>
      | Telefon: <strong>23 00 29 40</strong>
  </footer>
</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.bonarjee.in/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 13]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.bonarjee.in/piwik.php?idsite=13" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
