{% extends "layout.html" %}
{% block tittel %}{{ this.tittel }}{% endblock %}
{% block body %}
  <section class="hero">
    <div class=hero-bg>
      {% if this.toppbilete %}
        {% set bilete = this.attachments.get(this.toppbilete) %}
      {% else %}
        {% set bilete = this.attachments.images.first() %}
      {% endif %}
      {% if bilete %}
        <img src="{{ bilete.thumbnail(1280)|url }}" style="opacity:0.01"
            onload="this.style.opacity=1">
        <!--
        <video src=https://d11sa1anfvm2xk.cloudfront.net/newyear/homepage.webm autoplay loop></video>
        -->
      {% endif %}
    </div>
    <div class=hero-content>
      <h1>{{ this.tittel }}</h1>
      <div class=hero-summary>
        {{ this.ingress }}
      </div>
    </div>
  </section>

  <section class=content>
    {% block content %}
      <article class="main-article box">
        {% block main_article %}
          {{ this.tekst }}
        {% endblock %}
      </article>

      {% set children = this.children.all() %}
      {% if children %}
        <article class="box">
          <h1>Undersider</h1>
          <ul>
          {% for child in this.children.filter(F.oversikt_skjult != True) %}
            <li><a href="{{ child|url }}">{{ child.oversikt_tittel or child.tittel }}</a>
          {% endfor %}
          </ul>
        </article>
      {% endif %}
    {% endblock %}
  </section>
{% endblock %}
