{% extends "page.html" %}
{% block tittel %}{{ this.tittel }}{% endblock %}
{% block content %}
  {% if this.tekst %}
    <article class="main-article box">
      {{ this.tekst }}
    </article>
  {% endif %}
  {% for child in this.children.all() %}
    <div class=box>
      <a href={{ child|url }}>
        <h1>{{ child.tittel }}</h1>
        {% if child.ekstern_ingress %}
          {{ child.ekstern_ingress|striptags }}
        {% else %}
          {{ child.ingress|striptags }}
        {% endif %}
      </a>
    </div>
  {% endfor %}
{% endblock %}
