{% extends "page.html" %}
{% block tittel %}{{ this.tittel }}{% endblock %}
{% block content %}
  {% if this.tekst %}
    <article class="main-article box">
      {{ this.tekst }}
    </article>
  {% endif %}
  <div class="box kva-meiner-me vmargin hpad">
    <h1>Tufta</h1>
    <p>Tufta er det politiske grunnlagsdokumentet for Norsk Målungdom, og dimed
    utgangspunktet for all politikken vår. Tilsvarer det somme andre
    organisasjonar kallar «prinsipprogram», «manifest», og liknande.
    <p><a href="{{ this.children.get('tufta').path }}">Les tufta
    her</a>.
  </div>
  <div class="box kva-meiner-me vmargin hpad">
    <h1>Program</h1>
    <p>Dei politiske programma legg grunnlaget for organisasjonen. Programma
    seier noko om kva me meiner i ulike politiske spørsmål.
    <ul>
    {% for child in this.children.get('program').children.all() %}
      <li><a href={{ child|url }}>{{ child.tittel }}</a>
    {% endfor %}
    </ul>
  </div>
  <div class="box kva-meiner-me vmargin hpad">
    <h1>Fråsegner</h1>
    <p>Landsmøta og landsstyret vedtek kvart år fråsegner om aktuelle
    målpolitiske tema. Me legg dei ut på nettsida etter kvart som dei blir
    reinskrive.
    <ul>
    {% for child in this.children.get('fraasegner').children.all() %}
      <li><a href={{ child|url }}>{{ child.tittel }}</a>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
